
.fixed-header {
  text-align: center;
  margin: auto;
  width: 85%;
  position: fixed;
  top: 0; left: 0; right: 0;
}

.fixed-header > div{
  display: inline-block;
  margin: 5px 1%;
}

.nav-link{
  cursor: pointer;
  font-size: 125%;
}

#icons{
  height: 5%;
}
